.btn:focus,
.btn:active,
input:focus,
input:active {
    outline: none !important;
    box-shadow: none !important;
}

.no-margin {
    margin-block-start: 0;
    margin-block-end: 0;
}

.img-logo {
    max-width: 170px;
}

.btn-rounded {
    border-radius: 10rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 330px;
    padding-top: 35px;
    box-shadow: 1px 0 4px 0px rgba(0, 0, 0, .1);
    z-index: 1;
}

.container-fluid {
    padding-right: 0px;
}

.main-content {
    margin-top: 60px;
}

.main-content-inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    padding: 10px 20px;
    border-radius: 10px;
}

.hover-info:hover,
.bg-light-info {
    background-color: #0dcaf012;
    color: #0dcaf0 !important;
    border-color: #0dcaf0;
}

.hover-primary:hover,
.bg-light-primary {
    background-color: #0d6efd12;
    color: #0d6efd !important;
    border-color: #0d6efd;
}

.hover-success:hover,
.bg-light-success {
    background-color: #19875412;
    color: #198754 !important;
    border-color: #198754;
}

.hover-danger:hover,
.bg-light-danger {
    background-color: #dc354512;
    color: #dc3545 !important;
    border-color: #dc3545;
}

.hover-light:hover,
.bg-light-light {
    background-color: #f8f9fa;
    color: #212529 !important;
}

.text-big {
    font-weight: 700;
    font-size: 14pt;
}

@keyframes breathe {
    0% {
        color: #0d6dfd21;
    }

    50% {
        color: #0d6efd;
    }

    100% {
        color: #0d6dfd21;
    }
}

.live-dot {
    animation-name: breathe;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.fab-container {
    bottom: 12px;
    right: 15px;
}

.fab-button {
    width: 60px;
    height: 60px;
}

.btn-outline-info:hover,
.btn-info {
    color: #f8f9fa !important;
}

.full-width {
    width: 100%;
}

.menu-button {
    z-index: 150;
    width: auto;
    top: 7px;
    left: 5px;
    background-color: transparent;
    border: none;
    color: var(--bs-light);
}

.text-xl {
    font-size: xx-large;
}

.text-lg {
    font-size: x-large;
}

.text-md {
    font-size: 1rem;
}

.line-height-sm {
    line-height: 0.7;
}

.modal-dialog {
    margin-top: 100px;
}

.toast-container {
    bottom: 15px;
    z-index: 1060;
}

.dropdown-item {
    cursor: pointer;
}

.project-description-collapsed {
    max-height: 50px !important;
    overflow: hidden;
}

.link-primary{
    cursor: pointer;
}

.btn-xs{
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.7rem;
    --bs-btn-border-radius: 0.25rem;
}